{% extends "base.html" %}

{% block content %}
    <h1>Create Interview</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.applicant.label }}<br>
            {{ form.applicant }}<br>
            {% for error in form.applicant.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.questions_list.label }}<br>
            {{ form.questions_list}}<br>
            {% for error in form.questions_list.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.users_list.label }}<br>
            {{ form.users_list }}<br>
            {% for error in form.users_list.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.date.label }}<br>
            {{ form.date }}<br>
            {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}