{% extends "base.html" %}

{% block content %}
    <h1>Create question</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.question_field.label }}<br>
            {{ form.question_field(size=32) }}<br>
            {% for error in form.question_field.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.answer.label }}<br>
            {{ form.answer(size=64) }}<br>
            {% for error in form.answer.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.max_grade.label }}<br>
            {{ form.max_grade(size=32) }}<br>
            {% for error in form.max_grade.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.category.label }}<br>
            {{ form.category(size=32) }}<br>
            {% for error in form.category.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}